.insert_area {
  position: absolute;
  top: 10%;
  width: 86%;
  right: 0px;
  background-color: #f3f1ee;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 150%;
  color: #495464;
}
