<div class="flex-wrap">
  <p class="ia-title">Cocktails</p>

  <div class="add_ingridient">


    <div class="wrapper">
      <input (keyup)='search("")' class="search" type="text" placeholder="Search by name" [(ngModel)]="key">
      <input (keyup)='search("")' class="search" type="text" placeholder="Search by category" [(ngModel)]="category">
      <input type="radio" name="select" id="option-2" [checked]="title" (click)="search('title')">
      <input type="radio" name="select" id="option-3" [checked]="Category" (click)="search('category')">
      <label for="option-2" class="option option-2">
        <div class="dot"></div>
        <span>Title</span>
      </label>
      <label for="option-3" class="option option-3">
        <div class="dot"></div>
        <span>Category</span>
      </label>
      <nz-select nzMode="multiple" nzPlaceHolder="Inserted are removed" [(ngModel)]="listOfSelectedValue">
        <nz-option
          *ngFor="let option of listOfOption"
          [nzLabel]="option.label"
          [nzValue]="option.id"
        ></nz-option>
      </nz-select>
      <button class="searchIngredients" (click)="searchIngredients()">Ok</button>

    </div>

    <div *ngIf="role === 'MODERATOR' || role === 'ADMIN'">
      <a routerLink="/moderator/dish/add">
        <button class="absolute-right-button">
          Add cocktail
        </button>
      </a>
    </div>
  </div>

  <div class="ingridient" *ngFor="let dish of Dishes">

    <div class="buttons" *ngIf="role !== 'MODERATOR' && role !== 'ADMIN'">
      <i [hidden]="like" nz-icon class="like" (click)="likes(dish.id)"></i>
      <i [hidden]="favourite" nz-icon nzType="rest" nzTheme="outline"></i>
    </div>

    <div class="buttons" *ngIf="role === 'MODERATOR' || role === 'ADMIN'">
      <i routerLink="/moderator/dish/{{dish.id}}" class="edit" nz-icon nzType="edit" nzTheme="outline"> </i>
      <i (click)="delete(dish)" nz-icon nzType="delete" id="delete" nzTheme="outline"></i>
      <div [hidden]="toggle" class="fixed-overlay">
        <div class="modal">
          <div class="popup">
            <div class="field"></div>
            <span>Delete this dish?</span>
            <div class="field"></div>
            <button (click)="ok()" class="delete-ok">OK</button>
            <button (click)="change()" class="delete-cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div routerLink="/user/dish/{{dish.id}}">
      <p class="title">{{dish.title}}</p>
      <advanced-image [cldImg]="dish.imageId | getPicture"></advanced-image>
      <p class="bottom">Cocktail</p>
    </div>
  </div>
</div>

<div class="button">
  <button (click)="prev()" class="next"><</button>
  <button (click)="next()" class="next">></button>
</div>
