<div class="ingridients">
  <h2>Ingredients</h2>
  <div class="add_ingridient">
    <nz-select class="options">
      <nz-option nzValue="cocktails" nzLabel="Liquid"></nz-option>
      <nz-option nzValue="friends" nzLabel="Alcohol"></nz-option>
      <nz-option nzValue="events" nzLabel="Fruits"></nz-option>
    </nz-select>
    <a routerLink="/moderator/ingridients/add">
      <button> Add ingredient</button>></a>
  </div>
  <div class="ingridient" *ngFor="let ingridient of Ingridients">
    <div class="buttons">
      <a routerLink="/moderator/ingridients/{{ingridient.id}}">
      <img src="../../assets/edit.png" alt="edit"></a>
      <img src="../../assets/delete.png" alt="delete">
    </div>
      <p class="title">{{ingridient.title}}</p>
      <p class="bottom" >Ingredient</p>
  </div>
</div>
