<div class="navigation" *ngIf="isUser">
  <ul>
    <li>
      <span class="nameSpan">Navigation</span>
    </li>
    <br>
    <li>
      <a href="#" routerLink="/user/blog">
        <span class="icon"><i nz-icon nzType="audit" nzTheme="outline"></i></span>
        <span class="title">Blog</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/user/events">
        <span class="icon"><i nz-icon nzType="star" nzTheme="outline"></i></span>
        <span class="title">Events</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/user/friends">
        <span class="icon"><i nz-icon nzType="team" nzTheme="outline"></i></span>
        <span class="title">Friends</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/user/calendar">
        <span class="icon"><i nz-icon nzType="calendar" nzTheme="outline"></i></span>
        <span class="title">Calendar</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/dishes">
        <span class="icon"><i nz-icon nzType="coffee" nzTheme="outline"></i></span>
        <span class="title">Cocktails</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/user/favourite">
        <span class="icon"><i nz-icon nzType="heart" nzTheme="outline"></i></span>
        <span class="title">Favourites</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/personal-stock">
        <i class="icon" nz-icon nzType="container"></i>
        <span class="title">Stock</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/settings">
        <span class="icon"><i nz-icon nzType="setting" nzTheme="outline"></i></span>
        <span class="title">Settings</span>
      </a>
    </li>
  </ul>
</div>

<div class="navigation" *ngIf="isModerator">
  <ul>
    <li>
      <span class="nameSpan">Navigation</span>
    </li>
    <br>
    <li>
      <a href="#" routerLink="/moderator/cocktails">
        <span class="icon"><i nz-icon nzType="coffee" nzTheme="outline"></i></span>
        <span class="title">Cocktails</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/moderator/ingredients">
        <span class="icon"><i nz-icon nzType="apple" nzTheme="outline"></i></span>
        <span class="title">Ingredients</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/moderator/kitchenware">
        <span class="icon"><i nz-icon nzType="experiment" nzTheme="outline"></i></span>
        <span class="title">Kitchenware</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/settings">
        <span class="icon"><i nz-icon nzType="setting" nzTheme="outline"></i></span>
        <span class="title">Settings</span>
      </a>
    </li>
  </ul>
</div>

<div class="navigation" *ngIf="isAdmin">
  <ul>
    <li>
      <span class="nameSpan">Navigation</span>
    </li>
    <br>
    <li>
      <a href="#" routerLink="/admin/moderators">
        <span class="icon"><i nz-icon nzType="audit" nzTheme="outline"></i></span>
        <span class="title">Moderators</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/settings">
        <span class="icon"><i nz-icon nzType="setting" nzTheme="outline"></i></span>
        <span class="title">Settings</span>
      </a>
    </li>
  </ul>
</div>
