h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  color: #495464;
  margin-left: 3%;
  margin-top: 5%;
}

.main {
  background: #F9FAFB;
  margin-left: 14%;
  height: 100%;
}

.title {
  //  background: #F9FAFB;
  //  display: flex;
  //  flex-wrap: wrap;
}

.friends {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.friend-container {
  padding: 20px;
  width: 20%;
}

.friend {
  min-height: 100px;
  max-height: 300px; // max height of card
  //text-align: center;
  //
  //margin-left: 1%;
  //margin-right: 1%;
  //margin-bottom: 3%;
  padding: 15px 20px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

  display: flex;
  flex-direction: column;
}

.friend-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.popup {

  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 300px;
  background-color: white;
  box-shadow: 0 0 10px 4px rgba(165, 97, 231, 0.18);
  border-radius: 10px;
  text-align: center;
  font-size: 30px
}

.friend-image {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  //display: inline-block;
  //text-align: center;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20%;
  margin-top: -75px;
}

.button {
  margin-left: 44%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.next {
  width: 50px;
  float: left;
  margin-left: 10px;
}

.btn-img {
  display: inline-block;
  text-align: center;

}

.buttons {
  //  float: right;
  //  margin-top: 2%;
  //  margin-right: 10%;
}

.buttons i:hover {
  cursor: pointer;
}

.delete-ok {
  font-weight: normal;
  height: 60px;
  width: 100px;
}

.delete-cancel {
  margin-left: 20px;
  font-weight: normal;
  height: 60px;
  width: 200px;
}

.field {
  height: 40px;
}

i {
  color: #495464;
}

.fixed-overlay {
  z-index: 100;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

.fixed {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

.friends p {
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 45%;
}

.circle {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.butt-acc{
  background-color: #f5f5f5;
  color: #313131;
  border: 1px solid #d9d9d9;
  height: 30px;
}

.butt-dec{
  background-color: #f5f5f5;
  color: #313131;
  border: 1px solid #d9d9d9;
  height: 30px;
}

.smile {
  color: rgb(16, 142, 233);
}
