<app-user-sceleton></app-user-sceleton>

<div class="insert-area">

  <p class="ia-title">My requests</p>

  <div class="scrollable">

    <div class="friends">
      <div class="friend-container" *ngFor="let request of friendRequests">
        <div class="friend">
          <div class="btn-img">
            <div class="friend-header"><p class="title">{{request.firstName}}</p>
              <div class="buttons">
                <div [hidden]="toggle" class="fixed-overlay">
                  <div class="modal">
                    <div class="popup">
                      <div class="field"></div>
                      <span>Decline this invite?</span>
                      <div class="field"></div>
                      <button  (click)="ok()" class="delete-ok">OK</button>
                      <button (click)="change()" class="delete-cancel">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <advanced-image class="friend-image" [cldImg]="request.imageId | getPicture"></advanced-image>
            <div class="icons">
              <ng-template #template>
                <div class="ant-notification-notice-content">
                  <div class="ant-notification-notice-with-icon">
                    <span class="ant-notification-notice-icon">
                      <i nz-icon nzType="smile" class="smile"></i>
                    </span>
                    <div class="ant-notification-notice-message">Friend added</div>
                  </div>
                </div>
              </ng-template>
              <span nz-tooltip nzTooltipTitle="Accept invite"><i nz-button (click)="createNotification(template)"
                                                                 (click)="accept(request)" nz-icon nzType="check"
                                                                 nzTheme="outline"></i></span>
              <span nz-tooltip nzTooltipTitle="Decline invite"><i nz-button class="circle" (click)="decline(request)"
                                                                  nz-icon nzType="close" nzTheme="outline"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <button nz-button nzShape="circle" (click)="prev()" [disabled]="offset === 0" class="next"><</button>
      <button nz-button nzShape="circle" (click)="next()" [disabled]="friendRequests.length === 0 || friendRequests.length < 10"
              class="next">>
      </button>
    </div>
  </div>
</div>
