<div class="main" [formGroup]="form">
  <nz-form-control>
    <p>First name</p>
    <input
      nz-input
      [(ngModel)]="firstname"
      placeholder="John"
      formControlName="firstname"
    />
  </nz-form-control>
  <nz-form-control>
    <p>Last name</p>
    <input
      nz-input
      [(ngModel)]="lastname"
      placeholder="Smith"
      formControlName="lastname"
    />
  </nz-form-control>
  <div (click)="createBasicNotification()">
    <button (click)="savePersonalInformation()">
        Save changes
    </button>
  </div>
</div>
