<app-user-sceleton></app-user-sceleton>

<div class="main">
    <div class="title">
        <h2>Requests</h2>
    </div>
    <div class="friends">
        <div class="friend-container" *ngFor="let request of fRequests">
            <div class="friend">
                <div class="btn-img">
                    <div class="friend-header"><p class="title">{{request.firstName}}</p>
                        <div class="buttons">
                            <div [hidden]="toggle" class="fixed-overlay">
                                <div class="modal">
                                    <div class="popup">
                                        <div class="field"></div>
                                        <span>Decline this invite?</span>
                                        <div class="field"></div>
                                        <button (click)="ok()" class="delete-ok">OK</button>
                                        <button (click)="change()" class="delete-cancel">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <advanced-image class="friend-image" [cldImg]="request.imageId | getPicture"></advanced-image>
                    <div class="icons">
                    <i nz-button class="circle" (click)="accept(request)" nz-icon nzType="check" nzTheme="outline"></i>
                    <i nz-button class="circle" (click)="decline(request)" nz-icon nzType="close" nzTheme="outline"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button">
        <button nz-button nzShape="circle" (click)="prev()" [disabled]="offset === 0" class="next"><</button>
        <button nz-button nzShape="circle" (click)="next()" [disabled]="fRequests.length === 0 || fRequests.length < 10" class="next">></button>
    </div>
</div>
