.inputs{
  border-radius: 25px;
  background-color: white;
  width: 500px;
  margin-top: 10%;
  height: 300px;
  padding-left: 3%;
  padding-top: 3%;
}
input {
  border: 2px solid #BBBFCA;
  box-sizing: border-box;
  border-radius: 24px;
  margin-bottom: 5%;
  width: 93%;
}
button{
  margin-left: 30%;
  width: 30%;
}
.__button_text{
  color: white;
}
span{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #495464;
}
.span{
  margin-bottom: 15px;
}
