<app-user-sceleton></app-user-sceleton>
<div class="insert-area">
  <p class="ia-title">
    Add/edit kitchenware
  </p>

  <div class="scrollable" *ngIf="kitchenware">
    <div class="add_edit">
      <form ngNativeValidate>
        <div class="description_picture">
          <div class="picture">
            <advanced-image [cldImg]="img"></advanced-image>
            <br>
            <input type="file" (change)="onFileSelect($event)" class="dn" #uploadFile>
            <button class="upload" (click)="uploadFile.click()">Upload photo</button>
          </div>
          <div class="title">
            <p>Title</p>
            <input required [(ngModel)]="kitchenware.title" name="title" type="text">
            <p>Category</p>
            <input required class="description" [(ngModel)]="kitchenware.category" name="description" type="text">
          </div>
        </div>
        <div class="textarea">
          <p>Description</p>
          <textarea required [(ngModel)]="kitchenware.description"></textarea>
        </div>
        <button (submit)="onAddClick()" class="ok">Ok!</button>
      </form>
    </div>
  </div>
</div>
