.insert_area {
  position: absolute;
  top: 10%;
  width: 86%;
  right: 0px;
  padding: 32px;
//  background-color: #f3f1ee;
}

.demo-loadmore-list {
  min-height: 350px;
}
.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}
.ant-list-item-action {
  width: 33%;
}
.nz-select {
  width: 20%;
}
