<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="mb-0">Log In</h1>
    <div appearance="outline">
      <label>E-mail</label>
      <input
        id="email"
        matInput
        placeholder="email"
        formControlName="email"
        type="text"
      >
    </div>
    <div appearance="outline">
      <label>Password</label>
      <input
        id="password"
        matInput
        placeholder="Password"
        formControlName="password"
        type="password"
      >
    </div>

  <div>
    <button [disabled]="form.invalid" type="submit">Login</button>
  </div>
</form>
<div>
  <a routerLink="/signup"> you have an account? </a>
</div>

<!--<div>
  <h1> Sign In</h1>
  <p>Nickname</p>
  <input type="text" ngModel name="Nickname" placeholder="Nickname">
  <p>Password</p>
  <input type="password" ngModel name="Password" placeholder="********">
  <button>Register</button>
</div>-->
