<div class="header">
  <!--<app-user-search></app-user-search>-->

  <div class="align floatLeft">
    <span class="brandName">Beaver Bar</span>
  </div>

  <div class="align floatRight" *ngIf="userType !== null && userType !== ''; else unauthorizedDiv">
    <i class="name">{{this.firstname}}<br>{{this.lastname}}</i>

    <advanced-image class="avatar" [cldImg]="img"></advanced-image>

    <button class="buttonLogout" (click)="logOut()">
      Log out
      <i class="logOutIcon" nz-icon nzType="logout" nzTheme="outline"></i>
    </button>
  </div>

  <ng-template #unauthorizedDiv>
    <div class="align floatRight">
      <button class="buttonLogout" (click)="goToSignUp()">
        Sign up
      </button>
      <button class="buttonLogout" (click)="goToLogIn()">
        Log in
      </button>
    </div>
  </ng-template>

</div>
