.header {
  position: fixed;
  display: flex;
  z-index: 1;
  width: 86%;
  height: 10%;
  right: 0px;
  top: 0px;
  display:block;
  background-color: #fdfbf8;
}


#buttonSearch {
  background-color: rgba(72, 70, 67, 0.89);
}

#buttonLogout {
  border-radius: 2px;
  width: 120px;
  height: 40px;
  background-color: #9921E8;
  color: white;
  font-size: 12pt;
  position: relative;
  float: right;
  display:block;
}

#logOutIcon {
  margin-left: 5px;
}

#avatar {
  float: right;
  display:block;
  position: relative;
  margin-right: 6px;
}

#name {
  float: right;
  display:block;
  position: relative;

}

.top-bar-element{
  margin: 12px 20px 20px 5px;
}

