<mat-card class="dish-card">
  <mat-card-header>
    <mat-card-title>{{dish.title}}</mat-card-title>
    <mat-card-subtitle>{{dish.category}}</mat-card-subtitle>
  </mat-card-header>
  <advanced-image mat-card-image class="friend-image" [cldImg]="dish.imageId | getPicture"></advanced-image>
<!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>
    <p>{{dish.description}}</p>
  </mat-card-content>
</mat-card>


<!--<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>{{dish.title}}</mat-card-title>
    <mat-card-subtitle>{{dish.category}}</mat-card-subtitle>
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    {{dish.description}}
  </mat-card-content>
</mat-card>-->
