.signup{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #5F72BE 0%, #EBD3FB 100%);
}
:host {
  display: block;
}
h1{
  color: #495464;
}
.signup-page {

  &__form {
    width: 70%;
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
  }

  &__input {
    margin-top: 16px;
    border: 2px solid #BBBFCA;
    box-sizing: border-box;
    border-radius: 24px;
    margin-bottom: 2%;
  }

  &__controller {
    border: none;
    margin-top: 16px;
    position: relative;
    background: #9921E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 24px rgba(153, 33, 232, 0.5);
    border-radius: 50px;
    width: 60%;
    height: 40px;
    margin-bottom: 5%;
  }

  &__link {
    margin-top: 16px;
  }
}

.inner {
  position: absolute;
  background: #FFFFFF;
  border-radius: 32px;
  width: 30%;
  height: 70%;
  margin-top: 10%;
  margin-left: 5%;
}

