.stock {
  background-color: #f4f4f4;
  margin: 8px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_item{
  width: 10%;
}

.category_item{
  width: 11%;
}

.description_item{
  width: 65%;
}

.amount_item {
  width: 7%;
}
