<div class="login">
  <div class="picture">
    <img src="assets/kitchen.png">
  </div>

  <div class="inner">

    <div
      class="login-page__form"
      [formGroup]="form"
    >
      <h1>Login</h1>
      <nz-form-control
        [nzValidateStatus]="form.controls.username.touched && form.controls.username.errors ? 'error' : ' ' "
        nzErrorTip="email error"
      >
        <input
          class="login-page__input"
          nz-input
          placeholder="E-mail"
          formControlName="username"
        />
      </nz-form-control>
      <nz-form-control
        [nzValidateStatus]="form.controls.password.touched &&  form.controls.password.errors ? 'error' : ' ' "
        nzErrorTip="password error"
      >
        <input
          class="login-page__input"
          nz-input
          placeholder="Password"
          type="password"
          formControlName="password"
        />
      </nz-form-control>

      <button
        class="login-page__controller"
        nz-button
        nzType="primary"
        (click)="onLoginClick()"
      >
        Login
      </button>
      <div class="login-page__link">
        <a routerLink="/recovery"> Forgot password? </a>
        <p>Don’t have an account?
          <a routerLink="/signup">Sign Up </a>
        </p>
      </div>
    </div>
  </div>
</div>


