<app-user-sceleton></app-user-sceleton>

<div class="insert-area">
  <div class="scrollable">

    <div class="dish">
      <app-comments [dishId]="dishId" [userId]="userId"></app-comments>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><h1>{{dish.dish.title}}</h1></mat-card-title>
          <mat-card-subtitle>{{dish.dish.category}}</mat-card-subtitle>
        </mat-card-header>
        <advanced-image class="img" [cldImg]="dish.dish.imageId | getPicture"></advanced-image>
        <br>
        <mat-card-content>
          <p>Description:
            {{dish.dish.description}}<br>
            Receipt:
            {{dish.dish.receipt}}
          </p>
          <div class="ingredients-kitchenware">
            <div class="ingredients">
              <p *ngFor="let ingredient of dish.ingredients">
                {{ingredient.title}}
              </p>
            </div>
            <div class="kitchenware">
              <p *ngFor="let kitchenware of dish.kitchenware">
                {{kitchenware.title}}
              </p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
