:host {
  display: block;
}

.recovery-page {
  &__form {
    width: 300px;
  }

  &__input {
    margin-top: 16px;
  }

  &__controller {
    margin-top: 16px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__link {
    margin-top: 16px;
  }
}

.inner {
  position: absolute;
  width: 800px;
  height: 691px;
  left: 820px;
  top: 200px;
}


