.scrollable-container {
  height: 65%;
  overflow-y: scroll;
  background-color: white;
  padding: 1%;
}

.writeCommentDiv {
  height: 25%;
}

.text-input {
  width: 100%;
  height: 60%;
  resize: none;
}

#post {
  float: right;
  margin-top: 1%;
}

.main {
  height: 100%;
  width: 100%;
}
