<div class="main">
  <div class="scrollable-container" #scrollContainer [scrollTop]="scrollContainer.scrollHeight"
    infiniteScroll
    [scrollWindow]="false"
    (scrolledUp)="loadMore()">

      <nz-list [nzDataSource]="comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-comment [nzAuthor]="item.firstname + ' ' + item.lastname + ' | ' + item.timestamp">
            <!--<nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.imageId"></nz-avatar>-->
            <nz-comment-content>
              <p>{{ item.text }}</p>
            </nz-comment-content>
          </nz-comment>
        </ng-template>
      </nz-list>
  </div>
  <br>
  <div class="writeCommentDiv" *ngIf="userRole !== 'ADMIN' && userRole !== 'MODERATOR'">
    <textarea class="text-input" type="text" maxlength="1000"
    [(ngModel)]="currentComment"
    (keyup.enter)="postComment()"
    placeholder="Write your comment here"></textarea>
  </div>
</div>
