.scrollable-container {
  height: 80%;
  overflow-y: scroll;
  background-color: white;
  padding: 1%;
}

.writeCommentDiv {
  height: 20%;
}

.text-input {
  width: 100%;
  height: 100%;
  resize: none;
}

.main {
  height: 100%;
  width: 100%;
}
