<app-user-sceleton></app-user-sceleton>

<div>

  <div class="__content">

    <span class="title">My Settings</span>

    <div
      class="__personal_information"
      [formGroup]="form"
    >

      <div >
        <nz-form-control>
          <div>
            <p>First name</p>
            <input
              class="settings_page__input"
              nz-input
              [(ngModel)]="firstname"
              placeholder="John"
              formControlName="firstname"
            />
          </div>
        </nz-form-control>
      </div>

      <div>
        <nz-form-control>
          <div>
            <p>Last name</p>
            <input
              class="settings_page__input"
              nz-input
              [(ngModel)]="lastname"
              placeholder="Smith"
              formControlName="lastname"
            />
          </div>
        </nz-form-control>
      </div>

      <div>
        <button (click)="save()" class="_save_change_personal_information"><h3 class="__button_text">Save changes</h3></button>
      </div>

    </div>

    <div class="__photo_block">
      <!-- photo block-->

      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </ngx-dropzone>

<!--      <advanced-image [cldImg]="img"></advanced-image>-->
<!--      <input type="file" (click)="onPhotoSelected($event)"><h3 class="__button_text">Change photo</h3>-->
<!--      <button type="button" (click)="onUpLoad()">Upload</button>-->
      <div>
        <button type="button" (click)="onUpLoad()" class="__change_photo"><h3 class="__button_text">Change photo</h3> </button>
      </div>
    </div>
  </div>
</div>
