
    <app-user-sceleton></app-user-sceleton>

    <div class="__content">

      <span class="title">My Settings</span>

      <div class="__personal_information">

        <div>
          <nz-form-control>
            <div>
            <p>First name</p>
            <input
              class="settings_page__input"
              nz-input
                placeholder="John"
              formControlName="name"
            />
            </div>
          </nz-form-control>
        </div>

        <div>
          <nz-form-control>
            <div>
              <p>Last name</p>
              <input
                class="settings_page__input"
                nz-input
                placeholder="Smith"
                formControlName="lastname"
              />
            </div>
          </nz-form-control>
        </div>

        <div>
          <nz-form-control
            nzErrorTip="password must be 8-12 characters"
          >
            <p>Old password</p>
            <input
              class="signup-page__input"
              nz-input
              placeholder="Password"
              type="password"
              formControlName="password"
            />
          </nz-form-control>
        </div>

        <div>
          <nz-form-control
            nzErrorTip="password must be 8-12 characters"
          >
            <p>New password</p>
            <input
              class="signup-page__input"
              nz-input
              placeholder="Password"
              type="password"
              formControlName="password"
            />
          </nz-form-control>
        </div>

        <div>
          <nz-form-control
            nzErrorTip="confirm password must match"
          >
            <p>Confirm password</p>
            <input
              class="signup-page__input"
              nz-input
              placeholder="Confirm Password"
              type="password"
              formControlName="confirmPassword"
            />
          </nz-form-control>
        </div>

        <div>
          <button class="_save_change_personal_information"><h3 class="__button_text">Save changes</h3></button>
        </div>

      </div>

      <div class="__photo_block">
       <!-- photo block-->
        <button class="__change_photo"><h3 class="__button_text">Change photo</h3> </button>
      </div>
    </div>
