<div>

  <h3>{{type}} moderator</h3>

  <form [formGroup]="moderInfoForm">

    <label for="firstname">Name: </label>
    <input id="firstname" type="text" value="{{fn}}" required minlength="4" formControlName="firstname">

    <label for="lastname">Surname: </label>
    <input id="lastname" type="text" value="{{ln}}" formControlName="lastname">

    <label for="email">Email: </label>
    <input id="email" type="text" value="{{em}}" formControlName="email">

    <button nz-button nzType="primary" (click)="close()">
      Cancel
    </button>

    <button nz-button nzType="primary" (click)="onSubmit()">
      Submit
    </button>
  </form>
</div>
