<app-user-sceleton></app-user-sceleton>

<div class="insert_area">
  <div *ngIf="ingridient">
    <div class="add_edit">
      <h2>Add/edit ingredient</h2>
      <form ngNativeValidate (submit)="onAddClick()">
        <div class="description_picture">
          <div class="picture">
            <advanced-image [cldImg]="img"></advanced-image>
            <br>
            <input type="file" (change)="onFileSelect($event)" class="dn" #uploadFile>
            <button class="upload" (click)="uploadFile.click()">Upload photo</button>
          </div>
          <div class="title">
            <p>Title</p>
            <input required [(ngModel)]="ingridient.title" name="title" type="text">
            <p>Category</p>
            <input required class="description" [(ngModel)]="ingridient.category" name="description" type="text">
            <p>Measurement</p>
            <input required [(ngModel)]="ingridient.measurement" name="measurement" type="text">
          </div>
        </div>
        <div class="textarea">
          <p>Description</p>
          <textarea required [(ngModel)]="ingridient.description"></textarea>
        </div>
        <button class="ok">Ok!</button>
      </form>
    </div>
  </div>
</div>
