<p>signup works!</p>
<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h1 class="mb-0">Sign Up</h1>
  <div appearance="outline">
    <label>Username</label>
    <input id="username" matInput placeholder="Username" formControlName="username" type="text">
  </div>
  <div appearance="outline">
    <label>E-mail</label>
    <input id="email" matInput placeholder="email" formControlName="email" type="text">
  </div>
  <div appearance="outline">
    <label>Password</label>
    <input id="password" matInput placeholder="********" formControlName="password" type="password">
  </div>
  <div appearance="outline">
    <label>Confirm Password</label>
    <input id="confirmPassword" matInput placeholder="********" formControlName="confirmPassword" type="password">
  </div>
  <div appearance="outline">
    <label>Firstname</label>
    <input id="firstname" matInput placeholder="firstname" formControlName="firstname" type="text">
  </div>
  <div appearance="outline">
    <label>Lastname</label>
    <input id="lastname" matInput placeholder="lastname" formControlName="lastname" type="text">
  </div>

  <div>
    <button [disabled]="form.invalid" type="submit">Login</button>
  </div>
</form>



<!--<form #basicForm="ngForm" (submit)="getData(basicForm.value)">
  <h1> Sign up</h1>
  <p>E-mail</p>
  <input type="text" ngModel name="E-mail" placeholder="youremail@mail.com">
  <p>Nickname</p>
  <input type="text" ngModel name="Nickname" placeholder="Nickname">
  <p>First Name</p>
  <input type="text" ngModel name="First-name" placeholder="John">
  <p>Last Name</p>
  <input type="text" ngModel name="Last-name" placeholder="Smith">
  <p>Password</p>
  <input type="password" ngModel name="Password" placeholder="********">
  <p>Confirm Password</p>
  <input type="password" ngModel name="Confirm-password" placeholder="********">
  <button>Register</button>
</form>

<ul>
  <li>{{userData.Nickname}}</li>
</ul>-->
