<div class="inputs">
  <div class="span"><span class="change-password-title">Change password</span></div>
  <div class="__change-password" [formGroup]="passwordForm">
    <div>
      <nz-form-control
        [nzValidateStatus]="
              passwordForm.controls.oldPassword.touched &&
              passwordForm.controls.oldPassword.errors
                ? 'error'
                : ''
            "
        nzErrorTip="old password error"
      >
        <input
          class="password-input"
          nz-input
          placeholder="Old Password"
          type="password"
          formControlName="oldPassword"
        />
      </nz-form-control>
    </div>

    <div>
      <nz-form-control
        [nzValidateStatus]="
              passwordForm.controls.password.touched &&
              passwordForm.controls.password.errors
                ? 'error'
                : ''
            "
        nzErrorTip="new password must be more then 8 characters"
      >
        <input
          class="password-input"
          nz-input
          placeholder="New Password"
          type="password"
          formControlName="password"
        />
      </nz-form-control>
    </div>

    <div>
      <nz-form-control
        [nzValidateStatus]="
              passwordForm.controls.confirmPassword.touched &&
              passwordForm.controls.confirmPassword.errors
                ? 'error'
                : ''
            "
        nzErrorTip="confirm password must match"
      >
        <input
          class="password-input"
          nz-input
          placeholder="Confirm Password"
          type="password"
          formControlName="confirmPassword"
          (keyup.enter)="onSavePasswordClick()"
        />
      </nz-form-control>
    </div>

    <div>
      <button class="__controller" (click)="onSavePasswordClick()">
        <h3 class="__button_text">Save changes</h3>
      </button>
    </div>

  </div>
</div>
