<app-user-sceleton></app-user-sceleton>
<div class="insert-area">
  <p class="ia-title">
    Add/edit cocktail
  </p>

  <div class="scrollable" *ngIf="dish">
    <div class="add_edit">
      <div class="picture">
        <advanced-image [cldImg]="img"></advanced-image><br>
        <input type="file" (change)="onFileSelect($event)" class="dn" #uploadFile>
        <button class="upload" (click)="uploadFile.click()">Upload photo</button>
      </div>
      <form ngNativeValidate (submit)="onAddClick()">
      <div class="title">
        <div class="title_description">
          <p>Title</p>
          <input class="title_input" required [(ngModel)]="dish.title" name="Text">
          <p>Category</p>
          <input class="description" required [(ngModel)]="dish.category" name="Text1">
        </div>
        <p>Receipt</p>
        <textarea class="receipt" required [(ngModel)]="dish.receipt" name="Text2"></textarea>
        <p>Description</p>
        <textarea  class="receipt" [(ngModel)]="dish.description" name="Text3"></textarea>
      </div>

      <div class="description_picture">

        <div class="ingridients-kitchenware">
          <div>
            <app-list></app-list>
          </div>
          <div>
            <app-list-kitchenware></app-list-kitchenware>
          </div>
          <div>
            <app-list-label></app-list-label>
          </div>
        </div>
      </div>
      <button class="ok">Ok!</button>
      </form>
    </div>
  </div>
</div>
