<div class="container">
  <!-- SIDEBAR -->
  <div class="navigation">
    <ul>
      <li>
        <a href="./home">
          <span id="nameSpan" class="title">Cocktails</span>
        </a>
      </li>
      <br>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="audit" nzTheme="outline"></i></span>
          <span class="title">Blog</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="star" nzTheme="outline"></i></span>
          <span class="title">Events</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="team" nzTheme="outline"></i></span>
          <span class="title">Friends</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="calendar" nzTheme="outline"></i></span>
          <span class="title">Calendar</span>
        </a>
      </li>
      <br>
      <br>
      <br>
      <li>
        <a href="#">
          <span id = "kitchenSpan" class="title">Bar</span>
        </a>
      </li>
      <br>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="coffee" nzTheme="outline"></i></span>
          <span class="title">Cocktail catalogue</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="heart" nzTheme="outline"></i></span>
          <span class="title">Favourite</span>
        </a>
      </li>
      <br>
      <br>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="setting" nzTheme="outline"></i></span>
          <span class="title">Settings</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- TOPBAR -->
  <div class="header">
    <div id="headerLeft">
      <nz-select class="top-bar-element" ngModel="cocktails">
        <nz-option nzValue="cocktails" nzLabel="Cocktails"></nz-option>
        <nz-option nzValue="friends" nzLabel="Friends"></nz-option>
        <nz-option nzValue="events" nzLabel="Events"></nz-option>
        <nz-option nzValue="blogs" nzLabel="Blogs"></nz-option>
      </nz-select>

      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input name="search" placeholder="Search" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button id="buttonSearch" nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </div>

    <div id="headerRight">
      <img id="avatar" class="top-bar-element" src="favicon.ico">

      <button id="buttonLogout" class="top-bar-element">
        Log out
        <i id="logOutIcon" nz-icon nzType="logout" nzTheme="outline"></i>
      </button>
    </div>
  </div>

  <!-- INSERT ELEMENT HERE -->
  <div class="insert_area">
    <h2>Remove this text and insert your element here</h2>
  </div>
</div>
