<div class="container">
  <!-- SIDEBAR -->
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="title">Brandname</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="audit" nzTheme="outline"></i></span>
          <span class="title">Blog</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="star" nzTheme="outline"></i></span>
          <span class="title">Events</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="team" nzTheme="outline"></i></span>
          <span class="title">Friends</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="calendar" nzTheme="outline"></i></span>
          <span class="title">Calendar</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"></span>
          <span class="title">Kitchen</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="coffee" nzTheme="outline"></i></span>
          <span class="title">Dishes catalog</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="heart" nzTheme="outline"></i></span>
          <span class="title">Favourite</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i nz-icon nzType="setting" nzTheme="outline"></i></span>
          <span class="title">Settings</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- TOPBAR -->
  <div class="header">
    <input class="top-bar-element" placeholder="Search"/>
    <button class="top-bar-element">
      Search
    </button>
    <nz-select class="top-bar-element"></nz-select>
    <img class="top-bar-element" src="favicon.ico">
    <button class="top-bar-element">
      Logout
    </button>

</div>
