.example-card {
  width: 30%;
}

.comment-div {
  width: 60%;
  height: 90%;
  margin-left: 5%;
}

.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}
.ingredients-kitchenware{
  display: flex;
}
.ingredients{
  width: 30%;
}
