<app-user-sceleton></app-user-sceleton>

<div class="insert-area">
  <div class="scrollable">

    <app-comments class="inline-block comment-div" [dishId]="dishId"></app-comments>

    <mat-card class="example-card inline-block">
      <mat-card-header>
        <mat-card-title><h1>{{dish.title}}</h1></mat-card-title>
        <mat-card-subtitle>{{dish.category}}</mat-card-subtitle>
      </mat-card-header>
      <advanced-image class="img" [cldImg]="dish.imageId | getPicture"></advanced-image><br>
      <mat-card-content>
        <p>Description:
          {{dish.description}}<br>
          Receipt:
          {{dish.receipt}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
