
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$NetProjectFrontend-primary: mat.define-palette(mat.$indigo-palette);
$NetProjectFrontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$NetProjectFrontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$NetProjectFrontend-theme: mat.define-light-theme((
  color: (
    primary: $NetProjectFrontend-primary,
    accent: $NetProjectFrontend-accent,
    warn: $NetProjectFrontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($NetProjectFrontend-theme);

.insert-area {
  position: fixed;
  width: 85%;
  height: 82%;
  padding: 4% 1% 1%;
  top: 10%;
  right: 0%;
  background-color: #ece0fa;
}

.scrollable {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollable::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.ia-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 2em;
  color: rgba(72, 70, 67, 0.89);

  position: absolute;
  top: 2%;
  left: 2%;
}

.ia-subtitle {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.5em;
  color: rgba(72, 70, 67, 0.89);
}

.absolute-right-button {
  position: absolute;
  top: 2%;
  right: 2%;
}

/* ! ! ! ! ! */

button{
  background: #9921E8;
  border-radius: 50px;
  height: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
button:hover{
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 24px rgba(153, 33, 232, 0.5);
}
.next.ant-btn-circle{
  background: #9921E8 !important;
  border-radius: 50px !important;
  height: 50px !important;
  color: white !important;
  font-weight: bold !important;
  border: none !important;
}
.ant-btn[disabled]{
  background-color: #f5f5f5 !important;
  color: #313131 !important;
  border: 1px solid #d9d9d9 !important;
}
.ant-btn-primary {
  color: #fff;
  background: #9921E8;
  border-color: #9921E8;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn-primary:hover{
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 24px rgba(153, 33, 232, 0.5);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
