button{
  background: #9921E8;
  border-radius: 50px;
  height: 50px;
  color: white;
  font-weight: bold;
  border: none;
}
button:hover{
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 24px rgba(153, 33, 232, 0.5);
}
.next.ant-btn-circle{
  background: #9921E8 !important;
  border-radius: 50px !important;
  height: 50px !important;
  color: white !important;
  font-weight: bold !important;
  border: none !important;
}
.ant-btn[disabled]{
  background-color: #f5f5f5 !important;
  color: #313131 !important;
  border: 1px solid #d9d9d9 !important;
}
.ant-btn-primary {
  color: #fff;
  background: #9921E8;
  border-color: #9921E8;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn-primary:hover{
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 24px rgba(153, 33, 232, 0.5);
}
