header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

input {
  height: 2.5em;
  padding-left: 1%;
  padding-right: 1%;
}

.header_table{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.title{
  width: 12%;
}
.category{
  width: 12%;
}
.description{
  width: 64%;
}
.amount {
  width: 12%;
}

.demo-loadmore-list {
  min-height: 350px;
}
.download-more {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}
.ant-list-item-action {
  width: 33%;

}

input {
  width: 20%;
  border: 2px solid #BBBFCA;
  box-sizing: border-box;
  border-radius: 24px;
  color: #495464;
}

nz-spin {
  text-align: center;
}

nz-select {
  width: 200px;
}
h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  color: #495464;
  margin-left: 2%;
}
app-button{
  margin: 4px;
}

.app-stock-item{
  margin-bottom: 80px;
}

.scrollable {
  height: 87%;
}
