<app-user-sceleton></app-user-sceleton>

<div class="insert-area">

  <p class="ia-title">Moderator list</p>
  <button class="absolute-right-button" [disabled]="buttonDisabled" (click)="onAddEditClicked(undefined)">Add moderator</button>

  <div class="scrollable">

    <div class="search-div">

      <div class="name-div">
        <p class="ia-subtitle">Search for moderators:</p>
      </div>

      <div class="toolbox-div">
        <form [formGroup]="settingsForm">

          <label for="search">Search by:</label>
          <select id="search" formControlName="search" ngModel="email">
            <option value="firstname">Name</option>
            <option value="lastname">Surname</option>
            <option value="email" selected>Email</option>
          </select>

          <input id="search-input" type="text" placeholder="Enter something" formControlName="searchInput">

          <label for="sort">Sort by:</label>
          <select id="sort" formControlName="sort" ngModel="timestamp">
            <option value="first_name">Name</option>
            <option value="last_name">Surname</option>
            <option value="email">Email</option>
            <option value="timestamp" selected>Reg. date</option>
          </select>

          <label for="sort-type">Order:</label>
          <select id="sort-type" formControlName="sortType" ngModel="false">
            <option value="true">Ascending</option>
            <option value="false">Descending</option>
          </select>

          <button class="search-button" [disabled]="buttonDisabled" (click)="onSubmit()">Search</button>
        </form>
      </div>
    </div>

    <div class="table-div" *ngIf="!emptyList">
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Reg. date</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let moder of moderatorList">
            <td>{{moder.email}}</td>
            <td>{{moder.firstname}}</td>
            <td>{{moder.lastname}}</td>
            <td>{{moder.timestamp}}</td>
            <td><button class="round-button" [disabled]="buttonDisabled" (click)="onAddEditClicked(moder)"><i nz-icon nzType="edit" nzTheme="outline"></i></button></td>
            <td><button class="round-button" [disabled]="buttonDisabled" (click)="onDeleteConfirm(moder.id)"><i nz-icon nzType="delete" nzTheme="outline"></i></button></td>
          </tr>
        </tbody>
      </table>

      <div class="nav-button-div">
        <button class="round-button" [disabled]="buttonDisabled || !buttonB" (click)="onBackward()"><</button>
        <p style="display: inline-block;"><b>&emsp;{{formValue.pageNo}}&emsp;of&emsp;{{pagesTotal}}&emsp;</b></p>
        <button class="round-button" [disabled]="buttonDisabled || !buttonF" (click)="onForward()">></button>
      </div>
    </div>

    <div class="not-found-div" *ngIf="emptyList">
      <h3>No moderators found :(</h3>
    </div>

  </div>

  <div [hidden]="showConfirm" class="fixed-overlay">
    <div class="modal">
      <div class="popup">
        <h2>Delete this moderator?</h2>
        <button (click)="deleteModer()" class="button">OK</button>
        <button (click)="changeElementsState()" class="button">Cancel</button>
      </div>
    </div>
  </div>

  <app-add-edit-moderator
      [inputModerData]="inputData"
      (closeEmit)="setShowInjected($event)"
      (updateEmit)="loadList(formValue)"
      *ngIf="showInjected">
  </app-add-edit-moderator>

</div>
