.insert_area {
  position: absolute;
  top: 10%;
  width: 86%;
  height: 90%;
  right: 0px;
  background-color: #f3f1ee;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 150%;
  color: #495464;
}

#addButton {
  position: absolute;
  top: 0%;
  right: 0%;
  margin-right: 3%;
  margin-top: 2%;
}

h2 {
  margin-left: 3%;
  margin-top: 2%;
}

#goButton {
  height: 30px;
  width: 60px;
  margin-left: 0.5%;
}

#d1 {
  width: 50%;
  position: absolute;
  top: 0px;
  margin-right: 30%;
  margin-left: 20%;
  margin-top: 2.1%;
}

.input {
  margin-right: 1%;
  height: 35px;
}

#d2 {
  margin-top: 2%;
  width: 100%;
}

td, th {
  width: 9%;
  text-align: center;
}

.navBut {
  height: 35px;
  width: 35px;
}

.align {
  margin: 0 auto;
  width: fit-content;
  padding-top: 1%;
}

#d3 {
  margin: 0 auto;
  width: 90%;
}

.fixed-overlay {
  position: fixed;
  top: 20%;
  left: 45%;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;

  background-color: white;
  border-radius: 15px;
}

.button {
  margin-left: 1%;
  margin-right: 1%;
  width: 30%;
}
