.insert_area {
  position: absolute;
  top: 10%;
  width: 86%;
  right: 0px;
  background-color: #f3f1ee;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 150%;
  color: #495464;
}

.__content{

}



.__personal_information {

}

._save_change_personal_information {

}

.__change-password {

}

.__controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 117px;

  position: absolute;
  width: 407px;
  height: 60px;
  left: 120px;
  top: 330px;

  background: #9921E8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 24px rgba(153, 33, 232, 0.5);
  border-radius: 50px;
}

.password-input {
  margin-top: 20px;
  // position: absolute;
  // top: 20%;
}
.password{
  margin-left: 5%;
}
.info{

}
.top{
  display: flex;
  width: 100%;
  height: 50%;

}
