.dn {
  display: none;
}
.picture{
  border-radius: 25px;
  background-color: white;
  width: 500px;
  height: 400px;
  margin-left: 20px;
  margin-top: 2%;
  padding-top: 1%;
}
button{
  margin-left: 33%;
  width: 30%;
  margin-top: 5%;
}
.img{

}
advanced-image{
  margin-left: 20%;
  margin-top: 3%;

}
h3{
  color: white;
}
