<div class="navigation" *ngIf="isUser">
  <ul>
    <li>
          <span class="nameSpan" class="title">Cocktails</span>
    </li>
    <br>
    <li>
      <a href="#" routerLink="/user/blog">
        <span class="icon"><i nz-icon nzType="audit" nzTheme="outline"></i></span>
        <span class="title">Blog</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/user/events">
        <span class="icon"><i nz-icon nzType="star" nzTheme="outline"></i></span>
        <span class="title">Events</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/user/friends">
        <span class="icon"><i nz-icon nzType="team" nzTheme="outline"></i></span>
        <span class="title">Friends</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/user/calendar">
        <span class="icon"><i nz-icon nzType="calendar" nzTheme="outline"></i></span>
        <span class="title">Calendar</span>
      </a>
    </li>
    <br>
    <br>
    <br>
    <li>
        <span>
          <span id="kitchenSpan" class="title">Bar</span>
        </span>
    </li>
    <br>
    <li>
      <a href="#" routerLink="/user/catalogue">
        <span class="icon"><i nz-icon nzType="coffee" nzTheme="outline"></i></span>
        <span class="title">Cocktail catalogue</span>
      </a>
    </li>
    <li>
      <a href="#" routerLink="/user/favourite">
        <span class="icon"><i nz-icon nzType="heart" nzTheme="outline"></i></span>
        <span class="title">Favourite</span>
      </a>
    </li>
    <br>
    <br>
    <li>
      <a href="#" routerLink="/user/settings">
        <span class="icon"><i nz-icon nzType="setting" nzTheme="outline"></i></span>
        <span class="title">Settings</span>
      </a>
    </li>
  </ul>
</div>

<div class="navigation" *ngIf="isModerator">
  <ul>
    <li>
        <span>
          <span class="nameSpan" class="title">Cocktails</span>
        </span>
    </li>
    <br>
    <li>
      <a href="#" routerLink="/admin/moderators">
        <span class="icon"><i nz-icon nzType="audit" nzTheme="outline"></i></span>
        <span class="title">Moderators</span>
      </a>
    </li>
  </ul>
</div>

<div class="navigation" *ngIf="isAdmin">
  <ul>
    <li>
        <span>
          <span id="nameSpan" class="title">Cocktails</span>
        </span>
    </li>
    <br>
    <li>
      <a href="#" routerLink="/admin/moderators">
        <span class="icon"><i nz-icon nzType="audit" nzTheme="outline"></i></span>
        <span class="title">Moderators</span>
      </a>
    </li>
  </ul>
</div>
