<app-user-sceleton></app-user-sceleton>

<div class="insert-area">

  <p class="ia-title">My Friends</p>
  <button class="absolute-right-button" (click)="goToRequests()">
    My requests
  </button>

  <div class="scrollable">

    <div class="friends">
      <div class="friend-container" *ngFor="let friend of friends">
        <div class="friend">
          <div class="friend-header"><p class="title">{{friend.firstName}}</p>
            <div class="buttons">
              <i (click)="delete(friend)" nz-icon nzType="delete" id="delete" nzTheme="outline"></i>
              <div [hidden]="toggle" class="fixed-overlay">
                <div class="modal">
                  <div class="popup">
                    <div class="field"></div>
                    <span>Delete this friend?</span>
                    <div class="field"></div>
                    <button (click)="ok()" class="delete-ok">OK</button>
                    <button (click)="change()" class="delete-cancel">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <advanced-image class="friend-image" [cldImg]="friend.imageId | getPicture"></advanced-image>
        </div>
      </div>
    </div>
    <div class="button">
      <button nz-button nzShape="circle" (click)="prev()"
              [disabled]="offset === 0" class="next">
        <
      </button>
      <button nz-button nzShape="circle" (click)="next()"
              [disabled]="friends.length === 0 || friends.length < 10" class="next">
        >
      </button>
    </div>
  </div>
</div>
