<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="footer-col">
        <div class="text">
          <h1>BrandName</h1>
        </div>
      </div>

      <div class="footer-col">
        <div class="col2">
          <ul class="hr">
            <li><a>About</a></li>
            <li><a>Contact Us</a></li>
          </ul>
          <ul class="hr">
            <li>Kyiv, Ukraine</li>
            <li>Tel:88-8787-8888</li>
            <li>myemail@mail.com</li>
          </ul>
        </div>
      </div>

      <div class="footer-col">
        <div class="social-links">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-instagram"></a>
        </div>
      </div>

    </div>
    <div class="copyright">
      <p>Copyright 2021 - All Rights Reserved</p>
    </div>
  </div>

</div>
