.footer {
  position: fixed;
  bottom: 0px;
  background-color: #f9f7f4;
  width: 100%;
}
.text{
  font-family: Montserrat;
  font-size: 20px;
  bottom: 2%;
  margin-left: 5%;
  margin-top: 3%;
}

.footer-col {
  width: 33%;
  padding: 0 15px;
}

.col2{
  margin-top: 3%;
}

ul.hr {

  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
}
ul.hr li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  padding: 5px; /* Поля вокруг текста */
}

.container {
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.fa {
  padding: 4px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
.social-links {
  margin-top: 5%;
}
.footer-col .social-links a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: rgb(170, 182, 255);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  background-color: #bee0ff;
}

.copyright {
  text-align: center;
}
